<h2>Contact me</h2>
{{#if isError}}
  <div class="isError">
    <p>You can't leave fields empty!</p>
  </div>
{{/if}}
{{#if isSent}}
  <div class="isSent">
    <p>The message has been sent!</p>
    <p>File {{filename}} has been saved!</p>
  </div>
{{/if}}
<form
  action="/contact/send-message"
  method="POST"
  enctype="multipart/form-data"
>
  <label>
    Your name:
    <input type="text" name="author" />
  </label>
  <label>
    Your email:
    <input type="email" name="sender" />
  </label>
  <label>
    Title:
    <input type="text" name="title" />
  </label>
  <label>
    Message:
    <textarea name="message"></textarea>
  </label>
  <label>
    Project design:
    <input
      type="file"
      name="image"
      accept="image/png, image/jpg, image/jpeg, image/gif"
    />
  </label>
  <button type="submit">Send message</button>
</form>